.conteudo_login{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center
}
.form_login{
width: 95vmin;
height: 80vmin;
border-radius: 10px;
border: solid 2px;
}
.login_redes{
    padding: 5vmin 0 0 15vmin;
}
.redes{
margin-right: 5vmin;
display: inline-block;
width: 30vmin;
height: 8vmin;    
border-radius: 5px;
border: solid 2px;
}

.redes img{
    display: inline-block;
    padding-top: 0.5vmin;
}
.texto-divisor{
  padding-left: 10vmin;
}