/* body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} */

.feed{
    height: 0vh;
    transition: all .5s;
    display: flex;
    justify-content: center;
}
.header__perfl img{
    width: 40px;
   
}
.header_feed{
   
    width: 65vmin;
    position: fixed;
    height: 10vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header_feed input{
    color: white;
    background: #1D6C55;
    width: 65vmin;;
    padding: 10px;
    border-radius: 40px;
    border: none;
    text-align: center;
}
::-webkit-input-placeholder {
    color: white;
 }
.feed section{
    margin-top: 12vmin;
  
    width: 70vmin;
    height: 100vmin ;
    width: 111vmin;
    height: 75vmin;
   
}
.header__perfl{
    background: #1D6C55;
    width: 100%;
    height: 10vmin;;
}
.img_comida_feed{
    width: 100%;
}
.footer__perfl{
    background: #1D6C55;
    width: 100%;
    height: 10vmin;;
    margin-top: -5px;
    
}

.icone2 {
    display: grid;
    grid-auto-columns: 1fr 1fr ;

}

.icone2 i{
    margin-left: 60vmin;
    margin-top: -4vmin;
    z-index: 11;
    color: white;
}