html,body{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body{
    width: 100%;
    /* height: 100vh; */
    /* background: url('../imgs/fundo-alimentos.svg') top center no-repeat; */
    font-family:"Exo 2";
  }
  .nav{
    background-color: #39e285;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
  }
  .logo{
    letter-spacing: 1px;
    float: left;
    font-size: 22px;
    line-height: 88px;
    padding: 0px 1em;
  }
  .logo img{
    height: 80px;
  }
  .menu{
  float: right;
  line-height: 45px;
  margin: 0 3em;
  }.menu ul {
    list-style: none;
  }
  .menu ul li{
  display: inline-block;
  margin: 3px;
  }
  .botao-nav{
    text-decoration: none;
    font-weight: lighter;
    padding: 7px 13px;
    background: #1ac065;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
  }
   .botao-nav:hover{
  color: #000000;
  background: white;
  }
  
  .box{
  margin-top: 80px; 
  /* background: red; */
  }
  .container{
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-auto-rows: 33.33% 33.33% 33.33%;
    /* height: calc(100vh - 50px); */
    }
    .conteudo{
      /* background: blue; */
      grid-column: 3 / 5;
      grid-row: 1 / 4;
    }
    .alimento{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    }
    
    .informar-alimento{
    min-height: 350px;
    width: 100%;
    border-radius: 10px;
    border: solid 2px;
    }
    .titulo-lista{
      text-align: center;
      padding: 10px;
    }
    .informar-alimento label{
      margin-left: 8px;
      margin-top: 30px;
      display: block;
      font-size: 20px;
      align-items: center;
    }
    .input-padrao{
      /* display: inline-block; */
      width:50%;
      padding: 12px;
      background: rgba(72, 209, 8, 0.39);
      border: 1px #1D6C55 solid;
      border-radius: 5px 5px 0px 0px;
      margin-left: 8px;
      margin-bottom: 30px;
      border-style: none none solid;
      outline: none;
      border-image: initial; 
      border-bottom: 2px solid rgb(0, 0, 0);
    
    }
   /* .input-padrao::-webkit-input-placeholder{
    
  } */
    .btn-adicionar{
      font-size: 18px;
      height: 40px;
      margin-left: 5px;
      width: 40%;
      background: #2e83519f;
      border:none;
      transition: .4s;
      color: aliceblue;
      border-radius: 5px;
    }
    .btn-adicionar:hover{
      border: 1px solid black;
      color: #2e8352;
      background: white;
    }
    .logo-box{
      margin-left: 26vmin;
      margin-top: 25px;
    }
    
    
    /* CONTEUDO LISTA DE ALIMENTO*/
    .conteudo-lista{
      grid-column: 3 / 5;
      grid-row: 3 / 5;
    }
    .lista-alimento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    }
    .itens-lista{
      min-height: 400px;
      min-width: 100%;
      border-radius: 10px;
      border: solid 2px;
    }
    .titulo-itens-alimento{
      text-align: center;
      padding: 10px;
    }